<ion-content>
  <ion-list>
    <ion-item href="https://ionicframework.com/docs/angular/your-first-app" target="_blank">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Aplicação Completa</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/api/popover" target="_blank">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Popover</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
